---
import Layout from "@layouts/Layout.astro"
import { db,Users } from "astro:db";

const titlePage = "Usuarios"
const description = "CRUD de usuarios"
/* 
const users = await fetch(`${Astro.url}/api/users.ts`)
const data = await users.json()

console.log(data) */
await db.select().from(Users);
---


<Layout title={titlePage}  description={description}>
    <h1>{titlePage}</h1>
    <p>{description}</p>
    <!-- <ul>
        {users?.map((user) => (
        <li key={user.id}>
            <a href={`/users/${user.id}`}>{user.name}</a>
        </li>
        ))}
    </ul> -->
</Layout>