---
import Layout from "@layouts/Layout.astro"


const titlePage = "Usuarios"
const description = "CRUD de usuarios"
const users = await fetch(`${Astro.url.origin}/api/users.json`)
const usersData = await users.json()

/* 

 */

---


<Layout title={titlePage}  description={description}>
    <h1>{titlePage}</h1>
    <p>{description}</p>
    <ul>
        {usersData!.map((user:any ) => (
        <li>
            {user.name} {user.lastName}
        </li>
        ))}
    </ul>

</Layout>