---
import Layout from "@layouts/Layout.astro"


const titlePage = "Usuarios"
const description = "CRUD de usuarios"

const users = await fetch(`${Astro.url.origin}/api/users/users`)
console.log(users)
const data = await users.status === 200 ? await users.json() : null

---


<Layout title={titlePage}  description={description}>
    <h1>{titlePage}</h1>
    <p>{description}</p>
   <!--  <ul>
        {users?.map((user:any ) => (
        <li>
            {user.name} {user.lastName}
        </li>
        ))}
    </ul> -->
</Layout>