---
import Layout from "@layouts/Layout.astro";
import { Users, db } from "astro:db";
export const prerender = false;
const titlePage = "Usuarios";
const description = "CRUD de usuarios";
/* const users = await fetch(`${Astro.url.origin}/api/getUsers.json`);
const usersData = await users.json(); */
const usersData = await db.select().from(Users);
---

<Layout title={titlePage} description={description}>
  <div class="container mx-auto">
    <h1 class="text-gray-450 text-2xl">{titlePage}</h1>
    <div class="grid lg:grid-cols-2 place-content-between">
      <div>
        <!-- Table  -->
        <table class="table-auto">
          <thead>
            <tr>
              <th class="px-4 py-2 text-gray-700 text-sm font-bold truncate"
                >Id</th
              >
              <th class="px-4 py-2 text-gray-700 text-sm font-bold">Nombre</th>
              <th class="px-4 py-2 text-gray-700 text-sm font-bold">Apellido</th
              >
              <th class="px-4 py-2 text-gray-700 text-sm font-bold">Email</th>
              <th class="px-4 py-2 text-gray-700 text-sm font-bold">Acciones</th
              >
            </tr>
          </thead>
          <tbody>
            {
              usersData.map((user) => (
                <tr>
                  <td class="border px-4 py-2">{user.id}</td>
                  <td class="border px-4 py-2">{user.name}</td>
                  <td class="border px-4 py-2">{user.lastName}</td>
                  <td class="border px-4 py-2 ">{user.email}</td>
                  <td class="border px-4 py-2">
                    <button
                      id="btnEdit"
                      data-edit={user.id}
                      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                    >
                      Editar
                    </button>
                    <button
                      id={String(user.id)}
                      data-delete={user.id}
                      class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                    >
                      Eliminar
                    </button>
                  </td>
                </tr>
              ))
            }
          </tbody>
        </table>
      </div>

      <div class="flex justify-center">
        <form
          id="add-form"
          class="grid grid-cols-2 gap-x-2 fixed justify-center"
        >
          <div class="mb-4">
            <label for="name" class="block text-gray-700 text-sm font-bold mb-2"
              >Nombre</label
            >
            <input
              type="text"
              id="name"
              name="name"
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            />
          </div>
          <div class="mb-4">
            <label
              for="lastName"
              class="block text-gray-700 text-sm font-bold mb-2">Apellido</label
            >
            <input
              type="text"
              id="lastName"
              name="lastName"
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            />
          </div>
          <div class="mb-4">
            <label
              for="email"
              class="block text-gray-700 text-sm font-bold mb-2">Email</label
            >
            <input
              type="email"
              id="email"
              name="email"
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            />
          </div>
          <div class="mb-4">
            <label
              for="password"
              class="block text-gray-700 text-sm font-bold mb-2">Password</label
            >
            <input
              type="password"
              id="password"
              name="password"
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            />
          </div>
          <div class="mb-4">
            <button
              id="addBtn"
              data-add="addBtn"
              type="submit"
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
              >Agregar</button
            >
          </div>
        </form>
        <!-- Edit Form -->
      </div>
    </div>
  </div>
</Layout>

<script>
  import { navigate } from "astro:transitions/client";

  document.addEventListener("astro:page-load", (event) => {
    const AddForm = document.querySelector("#add-form") as HTMLFormElement;

    const email = document.querySelector("#email") as HTMLInputElement;
    const name = document.querySelector("#name") as HTMLInputElement;
    const lastName = document.querySelector("#lastName") as HTMLInputElement;
    const password = document.querySelector("#password") as HTMLInputElement;
    const addBtn = document.getElementById("addBtn") as HTMLButtonElement;

    addBtn.addEventListener("click", async (e) => {
      e.preventDefault();

      const formData = new FormData(AddForm);
      const values = Object.fromEntries(formData);
      try {
        /* Call to endpoint POST user */
        const res = await fetch("/api/addUser.json/", {
          method: "POST",
          body: JSON.stringify(values),
        });
        /* Refresh */
        if (!res.ok) {
          throw new Error("No se pudo realizar la peticion a la DB");
        }
        navigate("/usuarios");
        console.log(res);
      } catch (err) {
        console.log(err);
      }
    });

    /* Edit functionality */
    /* When user clicked the add button change into edit form and charge the inputs of edit form with data of row*/
    const btnEdit = document.querySelectorAll("#btnEdit");

    /* Delete button */
    const deleteBtns = document.querySelectorAll(
      "[data-delete]"
    ) as NodeListOf<HTMLButtonElement>;
    /*   deleteBtns.forEach((btn) => {
      btn.addEventListener("click", (e) => {
        const id = (e.target as HTMLInputElement)?.id;
        if (!id) return console.log("No se encontro el id");

        fetch(`/api/${id}.json/`, {
          method: "DELETE",
        }).then((res) => {
          if (!res.ok) {
            throw new Error("No se pudo realizar la peticion a la DB");
          }
          navigate("/usuarios");
        });
      });
    }); */
  });
</script>
