---
import ButtonLink from "@components/ButtonLink.astro";
import Chat from "@components/Chat.astro";
import HeroContainer from "@components/HeroContainer.astro";
import SliderA from "@components/SliderA.astro";
import TitleSections from "@components/TitleSections.astro";
import BannerSlider from "@components/preact/BannerSlider";
import HomeLocation from "@components/preact/Icons/HomeLocation";
import HomeMortgageIcon from "@components/preact/Icons/HomeMortgageIcon";
import PaperTipsIcon from "@components/preact/Icons/PaperTipsIcon";
import SearchHome from "@components/preact/Search/SearchHome";

import Button from "@components/preact/ui/Buttons/Button";
import CardBranch from "@components/preact/ui/Cards/CardBranch";
import CardEntrepreneurship from "@components/preact/ui/Cards/CardEntrepreneurship";
import CardProperty from "@components/preact/ui/Cards/CardProperty";
import type {
  APIResponseEntrepreneurship,
  EntrePreneurShip,
} from "@interfaces/entrepreneurship.interfaces";
import type {
  APIResponseResultsRecords,
  File,
} from "@interfaces/results.records.interfaces";
import type {
  ResultLocation,
  Results,
} from "@interfaces/selects.form.interfaces";
import Layout from "@layouts/Layout.astro";
import { getAllSelects, getLocations } from "@services/get-selects-form";
import { fetchData } from "@utils/fetch-data";

const { resultado } = (await fetchData(
  "fichas.destacadas",
)) as APIResponseResultsRecords;
const { resultado: resEmprendimientos } = (await fetchData(
  "resultados.emprendimientos",
)) as APIResponseEntrepreneurship;
const { emprendimiento: entrepreneurship, img } = resEmprendimientos;
const { fichas } = resultado;
const cardData: File[] = fichas as File[]; // Update the type of cardData
const titlePage = "Home";
const description =
  "Propiedades en alquiler y venta - Matías Szpira Bienes Raíces";

const selects = (await getAllSelects()) as Results;
const locations = (await getLocations()) as ResultLocation;
---

<Layout title={titlePage} , description={description}>
  <HeroContainer img="/images/background-hero-2.webp">
    <div
      class="absolute inset-0 flex flex-col pb-20 justify-end items-center w-100 mx-auto container"
    >
      <div class="bg-[#D9D9D9] bg-opacity-40 p-6 min-w-full">
        <SearchHome
          client:load
          selects={selects}
          locations={locations}
          client:load
        />
      </div>
    </div>
  </HeroContainer>
  <!-- <div class="fixed right-0 z-50"> -->
    <Chat/>
 <!--  </div> -->
  <section class="bg-secondary-bg-msb  py-10">
    <div class="container mx-auto px-3 md:px-0 lg:px-0">
      <TitleSections
      class="text-primary-text-msb text-6xl md:text-7xl lg:text-7xl font-base font-medium font-cormorant text-pretty text-center"
    >
    Buena Gente. Buenas Raíces. Buenos Negocios
    </TitleSections>
      <div class="grid md:grid-cols-2 lg:grid-cols-2 ms:px-3 gap-10 py-20 md:px-5">
        <ButtonLink href="/sumate" class="flex justify-center  lg:justify-end w-100">
          <Button
            variant="outline"
            addStyles="rounded-lg shadow-lg  w-[450px] "
          >
            <div
            class="flex  items-center  gap-5 py-5"
            >
              <div class="rounded-full p-3 bg-[#D9D9D9]">
                <HomeMortgageIcon
                  addStyles="object-contain bg-gradient-primary-msb "
                  w="43"
                  h="43"
                />
              </div>
              <div class="flex flex-col gap-2 w-100">
                <h1
                class="text-base md:text-md lg:text-xl font-semibold text-primary-text-msb text-left text-balance"
                >
                ¿Qué necesito para vender?
                </h1>
                <p class="lg:text-lg text-primary-text-msb text-left font-normal">
                  Conocé los requisitos para vender una propiedad
                </p>
              </div>
            </div>
          </Button>
        </ButtonLink>
        <ButtonLink href="/sumate" class="flex justify-center  lg:justify-start w-100">
          <Button
            variant="outline"
            addStyles="rounded-lg w-[450px] shadow-lg "
          >
            <div
              class="flex  items-center  gap-5 py-5"
            >
              <div class="rounded-full p-3 bg-[#D9D9D9]">
                <HomeLocation
                  addStyles="object-contain bg-gradient-primary-msb "
                  w="43"
                  h="43"
                />
              </div>
              <div class="flex flex-col gap-0 w-100">
                <h1
                class="text-base md:text-md lg:text-xl font-semibold text-primary-text-msb text-left text-balance"
                >
                  Guía de Barrios
                </h1>
                <p class="lg:text-lg text-primary-text-msb text-left font-normal">
                  Conocé los barrios y elegí tu zona ideal
                </p>
              </div>
            </div>
          </Button>
        </ButtonLink>
      </div>
    </div>
  </section>
  <section class="bg-primary-msb">
    <div class="container mx-auto px-3 md:px-0 lg:px-0 py-20">
      <TitleSections
        class="text-white  text-6xl md:text-7xl lg:text-7xl font-base font-medium font-cormorant text-pretty text-center"
      >
        Propiedades Destacadas
      </TitleSections>
      <p
        class="text-white text-center text-md md:text-lg lg:text-2xl font-extralight p-10"
      >
        La mejor selección de inmuebles en las zonas que estás buscando.
      </p>

      <SliderA colsNr={3} height={10} width={10} classSlide="slider1">
        {
          cardData.map((card) => (
            <CardProperty
              key="unique-key"
              href="/propiedades"
              addStyles={"w-full h-full card"}
              cardData={card as File}
            />
          ))
        }
      </SliderA>
    </div>
  </section>
  <section class="bg-secondary-bg-msb px-3 md:px-0 lg:px-0 py-20">
    <div
      class="container mx-auto grid grid-col lg:grid-cols-2 justify-center place-content-center rounded-md border-primary-border-msb border-2 h-100 py-20"
    >
      <div class="flex justify-end gap-10 flex-col self-center lg:px-20 p-6">
        <TitleSections
          class="text-center md:text-centter lg:text-start text-secondary-text-msb text-6xl md:text-7xl lg:text-6xl font-base font-medium font-cormorant text-pretty"
        >
          Nuestros Emprendimientos
        </TitleSections>
        <p
          class="font-extralight text-secondary-text-msb text-center md:text-center lg:text-start text-lg"
        >
          Invertí en bienes raíces, nosotros te asesoramos
        </p>
        <ButtonLink
          href="/emprendimientos"
          class="flex justify-center md:justify-center w-100 p-0 lg:w-fit lg:justify-start text-pretty"
        >
          <Button
            variant="outline"
            addStyles="bg-secondary-bg-msb px-0 md:px-0 lg:px-20 text-lg rounded-lg shadow-lg text-nowrap  w-full h-full"
          >
            Me interesa
          </Button>
        </ButtonLink>
      </div>
      <div class="grid space-y-4">
        <div
          class="grid grid-cols-1 w-full md:grid-cols-3 lg:grid-cols-3 justify-between gap-4 p-6 lg:px-2 md:px-6"
        >
          <ButtonLink href="/emprendimientos/pozo">
            <Button
              variant="primary"
              addStyles="rounded-md  shadow-lg w-full h-full py-3 active:bg-primary-bg-msb text-pretty"
            >
              En Pozo
            </Button>
          </ButtonLink>
          <ButtonLink href="/emprendimientos/construcción">
            <Button
              variant="primary"
              addStyles="rounded-md shadow-lg  w-full h-full text-pretty"
            >
              En Construcción
            </Button>
          </ButtonLink>
          <ButtonLink href="/emprendimientos/terminado">
            <Button
              variant="primary"
              addStyles="rounded-md shadow-lg w-full h-full  "
            >
              Terminado
            </Button>
          </ButtonLink>
        </div>
        <!-- Slider de emprendimientos -->
        <SliderA colsNr={2} height={10} width={10} classSlide="slider2">
          {
            entrepreneurship.map(
              ({
                ed_nom,
                ed_pos,
                img_princ,
                ed_est,
                ed_idl,
              }: EntrePreneurShip) => (
                <CardEntrepreneurship
                  href={`/emprendimientos/${ed_idl}`}
                  addStyles={"card"}
                  cardData={{
                    ed_nom,
                    ed_pos,
                    img_princ,
                    ed_est,
                  }}
                />
              ),
            )
          }
        </SliderA>
      </div>
    </div>
  </section>
  <section class="bg-[#8D8777] py-10" transition:animate={"fade"}>
    <BannerSlider slides={img[3]} sliderTime={8000} client:visible>
      <div
        class="grid align-end h-full items-center justify-center lg:justify-end self-end place-content-center text-center lg:text-start container mx-auto relative z-1"
      >
        <TitleSections
          class="text-white text-6xl md:text-7xl lg:text-8xl font-base font-medium font-cormorant text-pretty md:text-center lg:text-start"
        >
          Tasaciones
        </TitleSections>
        <p
          class="text-white text-lg md:text-xl lg:text-2xl font-normal font-open-sans self-start"
        >
        Tasá con nosotros, no dudes en consultarnos.
        </p>
        <ButtonLink
          href="/tasaciones"
          class="flex justify-center lg:items-end p-0 mt-4 lg:w-fit lg:self-start"
        >
          <Button
            variant="outline"
            addStyles="bg-secondary-bg-msb px-0 md:px-0 lg:px-20 text-lg rounded-lg shadow-lg text-nowrap  w-full h-full"
          >
            Tasar
          </Button>
        </ButtonLink>
      </div>
    </BannerSlider>
  </section>
  <section class="bg-secondary-bg-msb py-20" transition:animate="fade">
    <div>
      <TitleSections
        class="text-primary-text-msb text-6xl md:text-7xl lg:text-7xl font-base font-medium font-cormorant text-pretty text-center"
      >
        Nuestras Sucursales
      </TitleSections>
      <p
        class="text-secondary-text-msb text-center text-md md:text-lg lg:text-2xl font-extralight p-10"
      >
        Elegí tu sucursal más cercana
      </p>
    </div>
    <div
      class="grid grid-cols justify-center md:grid-cols-2 gap-5 lg:gap-2 lg:grid-cols-4 container mx-auto"
    >
      <CardBranch
        href="https://maps.app.goo.gl/PdCXedJ3XriKhkeD6"
        whatsAppPhone="5491144161700"
        suc_name="Castelar"
        suc_loc="Casa Central"
        suc_img="/images/sucursal-castelar.webp"
        suc_dir="Avellaneda 976, Castelar"
        suc_phone="4627-8034 / 7548-6846"
        addStyles={"border-[#A4A4A4]  border-2 hover:border-primary-border-msb hover:border-2 h-100 transition duration-500 ease-in-out  transform hover:-translate-y-1"}
      />
      <CardBranch
        href="https://maps.app.goo.gl/tctkkMnT39ZuecvY6"
        whatsAppPhone="5491124610859"
        suc_name="Belgrano"
        suc_loc="Capital Federal"
        suc_img="/images/sucursal-belgrano.webp"
        suc_dir="Av. Juramento 1475, Piso 3 Of. 4"
        suc_phone="112461-0859"
        addStyles={"border-[#A4A4A4]  border-2 hover:border-primary-border-msb hover:border-2 h-100 transition duration-500 ease-in-out  transform hover:-translate-y-1"}
      />
      <CardBranch
        href="https://maps.app.goo.gl/Fo5cNCeaXJSRbkEz7"
        whatsAppPhone="5491123644767"
        suc_name="Fco. Álvarez"
        suc_loc="Colectora Sur Acceso Oeste"
        suc_img="/images/sucursal-fco-alvarez.webp"
        suc_dir="K41 Piso 3, Of. 327"
        suc_phone="2130-9600 / 112364-4767"
        addStyles={"border-[#A4A4A4]  border-2 hover:border-primary-border-msb hover:border-2 h-100 transition duration-500 ease-in-out  transform hover:-translate-y-1"}
      />
      <CardBranch
        href="https://maps.app.goo.gl/GgiKgSmGr31CvVXw5"
        whatsAppPhone="5491169425849"
        suc_name="Parque Leloir"
        suc_loc="Complejo Acorus"
        suc_img="/images/sucursal-parque-leloir.webp"
        suc_dir="Martín Fierro 2921, Piso 2 Of. 201"
        suc_phone="4627-8034 / 7548-6846"
        addStyles={"border-[#A4A4A4]  border-2 hover:border-primary-border-msb hover:border-2 h-100 transition duration-500 ease-in-out  transform hover:-translate-y-1"}
      />
    </div>
  </section>
</Layout>
