---
import HeroContainer from "@/components/HeroContainer.astro";
import FormContact from "@/components/preact/Reviews/FormContact";
import { CardReview } from "@/components/preact/ui/Cards/CardReview";
import { reviewsMock } from "@/data/reviews";
import Layout from "@/layouts/Layout.astro";

const title = "Reseñas de clientes";
const description = "Reseñas de nuestros clientes sobre nuestros servicios.";
---

<Layout title={title} description={description}>
  <article>
    <HeroContainer
      transition:animate={"fade"}
      img="/images/reviews-background.webp"
    >
      <div
        class="drop-shadow-md container px-8 mx-auto w-full h-full grid grid-cols-1 lg:grid-cols gap-14 place-content-center place-items-center md:place-items-center lg:place-items-start text-white text-start md:text-center lg:text-start text-pretty self-center lg:self-start font-gotham"
      >
        <h1
          class={"text-center lg:text-start text-white font-normal h-fit  w-100 text-6xl md:text-7xl lg:text-9xl self-center font-cormorant  text-shadow-pretty text-wrap lg:w-100"}
        >
          Experiencias
        </h1>
        <p
          class="text-white text-center lg:text-start text-pretty self-center text-2xl md:text-3xl lg:text-4xl w-full font-gotham"
        >
          de Nuestros Clientes.
        </p>
      </div>
    </HeroContainer>
    <section class="text-center lg:text-start bg-secondary-bg-msb">
      <div class="container mx-auto pt-12 pb-2 px-8">
        <p
          class="text-primary-text-msb text-pretty font-gotham font-thin text-2xl md:text-2xl lg:text-2xl w-full"
        >
          Comentarios y opiniones de nuestros clientes.
        </p>
      </div>
    </section>
    <section class="bg-secondary-bg-msb">
      <div class="container mx-auto grid grid-cols md:grid-cols-2 lg:grid-cols-3 gap-5 py-10 px-8">
        {
          reviewsMock.map(({ userFullName, review, id }) => (
           
              <CardReview userFullName={userFullName} review={review} id={id} />
           
          ))
        }
      </div>
    </section>
    <section class="bg-secondary-bg-msb">
      <div class="container mx-auto py-10 px-8">
     
    <FormContact client:load/>
     </div>
    </section>
  </article>
</Layout>
